html { 

    font-family : 'Work Sans', sans-serif; 
    color: #454959; 
    font-weight: 300;


}

header  {

    margin-top: 0;
    padding-top: 0; 
    border-top: 0; 

}

header  {

    background-color: #f8f8ff;

}

h1 { 

    text-align: center; 

}

nav a  {

    display: inline-block; 
    padding: 5px 0;
    margin: 5px 0;
    width: 100%; 
    background-color: lightgrey;
    font-weight: bold;
    text-align: center;

}


nav a:link {

    text-decoration: none;
    color: white

}

nav a:visited {

    text-decoration: none;
    color: white

}
 
nav a:hover {

    text-decoration: none;
    color: black

}



#profileimage { 

    max-width: 100%; 
    display: block; 
    margin: auto; 


}

main { 

    display: block; 
    margin: auto; 
    text-align: center;

}

section ul {

    margin: auto; 
    list-style: none; 
    text-align: center;


}

.portfoliopiece { 

    max-width: 100%;
 
}

img { 

    max-width: 90%;
    display: block; 
    margin: auto; 

} 

footer { 

    background-color: #f8f8ff;

}

#footertop {

    text-align: center;

}


footer h4 { 

    display: inline-block; 

}


footer p { 

    display: inline-block; 

}


hr {

    padding-bottom: 0;
    margin-bottom: 0; 
    border-bottom: 0;

}

#footerbottom {

    width: 100%; 
    background-color: #333030;
    font-family: 'Roboto', sans-serif;
    color: white; 
    font-weight: 700;

}


#footerbottom a {
 
    padding-left: 5px;

}


#footerbottom h4:last-child {
 
    float: right; 
    padding-right: 5px;

}


#footerbottom a:link {
 
    color: white; 
    text-decoration: none;

}


 



