html { 

    font-family : 'Work Sans', sans-serif; 
    color: #454959; 
    font-weight: 300;


}

#profileimage { 

    max-width: 320px; 

}

.portfoliopiece { 

    max-width: 320px;

}

img { 

    max-width: 100%;

} 

#footerbottom {

    font-family: 'Roboto', sans-serif;
    color: black; 
    font-weight: 700;

}
